#conteudo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    border: solid 1px var(--foreground);
    text-align: center;
}

#titulo {
    width: inherit;
    width: 400px;
    height: 80px;
    background-color: var(--foreground);
    color: var(--background);
    box-sizing: border-box;
    padding-top: 25px;
    font-size: 26px;
    word-spacing: 5px;
    letter-spacing: 3px;
}

#form {
    width: inherit;
    padding-top: 20px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="text"] {
    margin-bottom: 10px;
    margin-left: 10px;
    width: 200px;
}

#resultado {
    width: 400px;
    height: 35px;
    background-color: var(--foreground);
    color: var(--background);
    box-sizing: border-box;
    padding-top: 2px;
    font-size: 20px;
    font-weight: bold;
    margin-top: 24px;
}

#botaoReset {
    width: 120px;
    height: 35px;
    background-color: var(--red);
    color: #ffffff;
    font-size: 1rem;
    text-align: center;
    padding-top: 5px;
    box-sizing: border-box;
    margin: 10px auto;
    /* transform: translateY(-100%); */
}

#botaoReset a {
    color: #ffffff;
    text-decoration: none;
}

.button_calcular {
    width: 100px;
    height: 30px;
    background-color: var(--green);
    border-style: solid;
    border-color: var(--foreground);
    border-width: 1px;
    margin-top: 10px;
}

.tabuada {
    width: 250px;
    height: 250px;
    border: solid 1px var(--foreground);
    background-color: #ffffff;

    margin: 10px auto;

    text-align: center;

    overflow-y: scroll;
}
