.menu_icon {
    margin-top: 2rem;
    margin-left: 1.5rem;
    padding-bottom: 0rem;
    padding-right: 0rem;
}

.menu_icon span {
    display: block;
    height: 6px;
    width: 48px;
    margin: 0.5rem 0rem;

    border-radius: 3px;

    background-color: var(--foreground);

    transition: transform 0.25s ease-in-out;
}

.menu_container:hover .menu_icon span:nth-child(1) {
    transform: translate(0px, 14px) rotate(45deg);
}

.menu_container:hover .menu_icon span:nth-child(2) {
    transform: scale(0);
}

.menu_container:hover .menu_icon span:nth-child(3) {
    transform: translate(0px, -14px) rotate(-45deg);
}

.menu_container:hover .menu_icon {
    padding-bottom: 2rem;
    padding-right: 2.5rem;
}

nav {
    position: absolute;
    left: 0px;
    top: 0px;
}

.menu_container {
    position: relative;
}

.menu_items {
    width: 250px;
    height: 300px;
    margin-left: 1.5rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;

    border-style: solid;
    border-color: var(--foreground);
    border-width: 2px;

    list-style: none;

    position: absolute;
    top: 3.25rem;
    transform: translateX(-125%);

    transition: transform 0.5s ease-in-out;
}

.menu_container:hover .menu_items {
    transform: translateX(0%);
}

.menu_items a {
    font-size: 1.25rem;
    transition: font-size 0.5s ease-in-out;
}

.menu_items a:hover {
    font-size: 1.75rem;
}
